:root {
  --primary: #7960eb;
  --danger: #f65860;
  --warning: #ffa629;
  --normal: #29cb97;
}

html,
body,
#app {
  height: 100%;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
}

html.dark {
  color-scheme: dark;
  .layout-header-logo {
    background: #121212 !important;
    border-bottom: 1px solid #4a4b4d;
  }
  .layout-header-content {
    border-bottom: 1px solid #4a4b4d;
  }
  .layout-menus {
    background: #121212;
    border-right: 1px solid #4a4b4d;
  }
}
